$darkGreen: #3F5C59;

main {
    margin: 100px 200px;
}

.greenLine {
    width: 100%;
    height: 15px;
    background-color: $darkGreen;
}

#contentContainer {
    display: flex;

    #settingsContainer {
        background-color: #FAFAFA;
    }

    #tasksContainer {
        flex: 1;

        #standardLandingPage {
            display: none;
        }
    }
}

#askToMergeOrReplacePopUp {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
}